Comparisonof2filesinPowerAutomate_20250108233120/Microsoft.Flow/flows/ea73fd14-bac0-42e5-8a83-b506f8031d1c/definition.json
{"name":"b05e88b8-61d3-42cd-912d-d2fc48197b6b","id":"/providers/Microsoft.Flow/flows/b05e88b8-61d3-42cd-912d-d2fc48197b6b","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Running_Flow","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"d7129b37-1ea9-4c84-a7d5-e3c762da0f00","type":"User","tenantId":"dac8e04e-cbbe-4a50-b211-08647f9e8839"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2024-11-20T02:50:17.9422936Z","connectionKeySavedTimeKey":"2024-11-20T02:50:17.9422936Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"undefined","parameters":{"$authentication":{"defaultValue":{},"type":"SecureObject"},"$connections":{"defaultValue":{},"type":"Object"}},"triggers":{"manual":{"type":"Request","kind":"Button","inputs":{"schema":{"type":"object","properties":{},"required":[]}}}},"actions":{"List_rows_present_in_a_table_AzureIPs":{"runAfter":{},"metadata":{"01FI3JNSOSUDE7LJCOZBEY6KRT7E4ZZWQL":"/Compare IP's/Correct IPs.xlsx","01FI3JNSPCB7NVRTLCGZCIX3WW3SNYMF7B":"/Compare IP's/Last 24 hours IPs.xlsx","tableId":"{9146D493-01E0-48F6-A76C-0E2760A7D584}","01FI3JNSO35PHDZKBL3BGZZA7D4ISPXJJM":"/Compare IP's/Last 24 hours IPs.xlsx"},"type":"OpenApiConnection","inputs":{"parameters":{"source":"me","drive":"b!IxVHX6GUdESUT35GDn30tygi9C7GFe9CokeHG_ewqoPt1qQ5bs5aSKdi5oOCvTQ4","file":"01FI3JNSO35PHDZKBL3BGZZA7D4ISPXJJM","table":"{9146D493-01E0-48F6-A76C-0E2760A7D584}"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"GetItems"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Apply_to_each":{"foreach":"@outputs('List_rows_present_in_a_table_AzureIPs')?['body/value']","actions":{"List_rows_present_in_a_table_CorrectIPs":{"metadata":{"01FI3JNSOSUDE7LJCOZBEY6KRT7E4ZZWQL":"/Compare IP's/Correct IPs.xlsx","tableId":"{777EDF24-170C-4506-BF3D-A9297820EAE6}"},"type":"OpenApiConnection","inputs":{"parameters":{"source":"me","drive":"b!IxVHX6GUdESUT35GDn30tygi9C7GFe9CokeHG_ewqoPt1qQ5bs5aSKdi5oOCvTQ4","file":"01FI3JNSOSUDE7LJCOZBEY6KRT7E4ZZWQL","table":"{777EDF24-170C-4506-BF3D-A9297820EAE6}"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"GetItems"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Apply_to_each_1":{"foreach":"@outputs('List_rows_present_in_a_table_CorrectIPs')?['body/value']","actions":{"Condition":{"actions":{"Add_a_row_into_a_table":{"metadata":{"01FI3JNSJPHD7W3JQYCBHZTB33UFFNK6W6":"/Compare IP's/Maching.xlsx","tableId":"{B0B3E4A4-5590-4B5D-AF6A-7E3CB357FA41}","01FI3JNSJDPZP6J4XJVNCJL5LMGVBHD763":"/Compare IP's/Match2.xlsx","01FI3JNSPMQCKAYQCUI5AYCJA4YABTV27H":"/Compare IP's/Test_Flow.xlsx"},"type":"OpenApiConnection","inputs":{"parameters":{"source":"me","drive":"b!IxVHX6GUdESUT35GDn30tygi9C7GFe9CokeHG_ewqoPt1qQ5bs5aSKdi5oOCvTQ4","file":"01FI3JNSPMQCKAYQCUI5AYCJA4YABTV27H","table":"{B0B3E4A4-5590-4B5D-AF6A-7E3CB357FA41}","item/User":"@item()?['User']","item/Username":"@item()?['Username']","item/IP address":"@item()?['IP address']","item/Location":"@item()?['Location']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"AddRowV2"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}},"else":{"actions":{}},"expression":{"and":[{"equals":["@items('Apply_to_each')?['IP address']","@items('Apply_to_each_1')?['IP address']"]}]},"type":"If"}},"runAfter":{"List_rows_present_in_a_table_CorrectIPs":["Succeeded"]},"type":"Foreach","runtimeConfiguration":{"concurrency":{"repetitions":20}}}},"runAfter":{"List_rows_present_in_a_table_AzureIPs":["Succeeded"]},"type":"Foreach","runtimeConfiguration":{"concurrency":{"repetitions":20}}}}},"connectionReferences":{"shared_excelonlinebusiness":{"connectionName":"shared-excelonlinebu-221f06bf-edee-4831-ac57-b5e806ce190b","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","tier":"NotSpecified","apiName":"excelonlinebusiness"}},"flowFailureAlertSubscribed":false,"isManaged":false}}