Comparisonof2fileswithinPowerBI_20250108233643/Microsoft.Flow/flows/0ca59272-5cf3-4fdb-b548-5c0f3133017d/definition.json
{"name":"3fe82de2-f248-4f6d-9203-93eef516929e","id":"/providers/Microsoft.Flow/flows/3fe82de2-f248-4f6d-9203-93eef516929e","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"No Match","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"d7129b37-1ea9-4c84-a7d5-e3c762da0f00","type":"User","tenantId":"dac8e04e-cbbe-4a50-b211-08647f9e8839"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2024-11-20T03:53:55.543298Z","connectionKeySavedTimeKey":"2024-11-20T03:53:55.543298Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"undefined","parameters":{"$authentication":{"defaultValue":{},"type":"SecureObject"},"$connections":{"defaultValue":{},"type":"Object"}},"triggers":{"manual":{"type":"Request","kind":"Button","inputs":{"schema":{"type":"object","properties":{},"required":[]}}}},"actions":{"Initialize_variable":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"boolMatch","type":"boolean","value":"@false"}]}},"List_rows_present_in_a_table_AzureIPs":{"runAfter":{"Initialize_variable":["Succeeded"]},"metadata":{"01FI3JNSO35PHDZKBL3BGZZA7D4ISPXJJM":"/Compare IP's/Last 24 hours IPs.xlsx","tableId":"{9146D493-01E0-48F6-A76C-0E2760A7D584}"},"type":"OpenApiConnection","inputs":{"parameters":{"source":"me","drive":"b!IxVHX6GUdESUT35GDn30tygi9C7GFe9CokeHG_ewqoPt1qQ5bs5aSKdi5oOCvTQ4","file":"01FI3JNSO35PHDZKBL3BGZZA7D4ISPXJJM","table":"{9146D493-01E0-48F6-A76C-0E2760A7D584}"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"GetItems"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Apply_to_each":{"foreach":"@outputs('List_rows_present_in_a_table_AzureIPs')?['body/value']","actions":{"List_rows_present_in_a_table_CorrectIPs":{"metadata":{"01FI3JNSOSUDE7LJCOZBEY6KRT7E4ZZWQL":"/Compare IP's/Correct IPs.xlsx","tableId":"{777EDF24-170C-4506-BF3D-A9297820EAE6}"},"type":"OpenApiConnection","inputs":{"parameters":{"source":"me","drive":"b!IxVHX6GUdESUT35GDn30tygi9C7GFe9CokeHG_ewqoPt1qQ5bs5aSKdi5oOCvTQ4","file":"01FI3JNSOSUDE7LJCOZBEY6KRT7E4ZZWQL","table":"{777EDF24-170C-4506-BF3D-A9297820EAE6}"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"GetItems"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Apply_to_each_1":{"foreach":"@outputs('List_rows_present_in_a_table_CorrectIPs')?['body/value']","actions":{"Condition":{"actions":{"Set_variable":{"type":"SetVariable","inputs":{"name":"boolMatch","value":"@true"}}},"else":{"actions":{}},"expression":{"and":[{"equals":["@item()?['IP address']","@item()?['IP address']"]}]},"type":"If"},"Condition_1":{"actions":{"Add_a_row_into_a_table":{"metadata":{"01FI3JNSPMQCKAYQCUI5AYCJA4YABTV27H":"/Compare IP's/Test_Flow.xlsx","tableId":"{DF4DF464-E6C8-4D70-BA45-9AE56C80B73D}"},"type":"OpenApiConnection","inputs":{"parameters":{"source":"me","drive":"b!IxVHX6GUdESUT35GDn30tygi9C7GFe9CokeHG_ewqoPt1qQ5bs5aSKdi5oOCvTQ4","file":"01FI3JNSPMQCKAYQCUI5AYCJA4YABTV27H","table":"{DF4DF464-E6C8-4D70-BA45-9AE56C80B73D}","item/User":"@item()?['User']","item/Username":"@item()?['Username']","item/IP address":"@item()?['IP address']","item/Location":"@item()?['Location']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"AddRowV2"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}},"runAfter":{"Condition":["Succeeded"]},"else":{"actions":{"Set_variable_1":{"type":"SetVariable","inputs":{"name":"boolMatch","value":"@false"}}}},"expression":{"and":[{"equals":["@variables('boolMatch')","@false"]}]},"type":"If"}},"runAfter":{"List_rows_present_in_a_table_CorrectIPs":["Succeeded"]},"type":"Foreach"}},"runAfter":{"List_rows_present_in_a_table_AzureIPs":["Succeeded"]},"type":"Foreach"}}},"connectionReferences":{"shared_excelonlinebusiness":{"connectionName":"shared-excelonlinebu-221f06bf-edee-4831-ac57-b5e806ce190b","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","tier":"NotSpecified","apiName":"excelonlinebusiness"}},"flowFailureAlertSubscribed":false,"isManaged":false}}